*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
/.idea
/gradlew

privateKey.asc
private_key_sender.asc
public_key_sender.asc
TesterApp/.gitignore
TesterApp/.idea/.name
TesterApp/.idea/compiler.xml
TesterApp/.idea/copyright/profiles_settings.xml
TesterApp/.idea/encodings.xml
TesterApp/.idea/gradle.xml
TesterApp/.idea/misc.xml
TesterApp/.idea/modules.xml
TesterApp/.idea/runConfigurations.xml
TesterApp/app/.gitignore
TesterApp/app/build.gradle
TesterApp/app/proguard-rules.pro
TesterApp/app/src/androidTest/java/com/lib/testerapp/ApplicationTest.java
TesterApp/app/src/main/AndroidManifest.xml
TesterApp/app/src/main/java/com/lib/testerapp/MainActivity.java
TesterApp/app/src/main/res/layout/activity_main.xml
TesterApp/app/src/main/res/layout/content_main.xml
TesterApp/app/src/main/res/menu/menu_main.xml
TesterApp/app/src/main/res/mipmap-hdpi/ic_launcher.png
TesterApp/app/src/main/res/mipmap-mdpi/ic_launcher.png
TesterApp/app/src/main/res/mipmap-xhdpi/ic_launcher.png
TesterApp/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
TesterApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
TesterApp/app/src/main/res/values-v21/styles.xml
TesterApp/app/src/main/res/values-w820dp/dimens.xml
TesterApp/app/src/main/res/values/colors.xml
TesterApp/app/src/main/res/values/dimens.xml
TesterApp/app/src/main/res/values/strings.xml
TesterApp/app/src/main/res/values/styles.xml
TesterApp/app/src/test/java/com/lib/testerapp/ExampleUnitTest.java
TesterApp/build.gradle
TesterApp/gradle.properties
TesterApp/gradle/wrapper/gradle-wrapper.jar
TesterApp/gradle/wrapper/gradle-wrapper.properties
TesterApp/gradlew
TesterApp/gradlew.bat
TesterApp/logthisannotations-debug/build.gradle
TesterApp/logthisannotations-debug/logthisannotations-debug.aar
TesterApp/logthisannotations/build.gradle
TesterApp/logthisannotations/logthisannotations-release.aar
TesterApp/settings.gradle
logthisannotations/.idea/.name
logthisannotations/.idea/compiler.xml
logthisannotations/.idea/copyright/profiles_settings.xml
logthisannotations/.idea/encodings.xml
logthisannotations/.idea/gradle.xml
logthisannotations/.idea/libraries/appcompat_v7_23_1_1.xml
logthisannotations/.idea/libraries/aspectjrt_1_8_6.xml
logthisannotations/.idea/libraries/support_annotations_23_1_1.xml
logthisannotations/.idea/libraries/support_v4_23_1_1.xml
logthisannotations/.idea/misc.xml
logthisannotations/.idea/modules.xml
logthisannotations/.idea/runConfigurations.xml
logthisannotations/.idea/workspace.xml
logthisannotations/local.properties
